@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  } */

  :root {
    --background: hsl(240 10% 3.9%);
    --foreground: hsl(0 0% 98%);

    --card: hsl(240 10% 3.9%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(240 10% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(240 5.9% 10%);

    --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);

    --accent: hsl(240 3.7% 15.9%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hsl(240 4.9% 83.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground w-screen h-screen;
  }
}

h1 {
  @apply text-2xl font-bold;
}

nav.navbar {
  @apply w-full flex justify-between px-10 py-4 h-20;
}

div.nav-main {
  @apply w-full flex h-[calc(100%-5rem)];
}

form {
  @apply w-full md:w-[720px] h-full md:h-fit p-4 bg-zinc-900 rounded-lg;
}

form h1 {
  @apply text-2xl uppercase text-center;
}

form label {
  @apply uppercase text-muted-foreground;
}

form input {
  /* @apply  */
}

.center {
  text-align: center;
  padding-right: 10px;
  padding-left: 15px;
}